DB_HOST = 'db_host' #YOUR POSTGRES HOST -- For deployment use premium providers or Free hosting e.g vercel or supabase
DB_PORT = '1234' #YOUR POSTGRES PORT
DB_NAME = 'db_name' #YOUR POSTGRES DB NAME
DB_USER = 'db_user' #YOUR POSTGRES USER
DB_PASSWORD = 'xxxxxx' #YOUR POSTGRES PASSWORD
